.button-unstyled.slideshow-control.slideshow-control--shape-circle {
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
}

:root {
    --icon-size-lg: 2rem !important;
    --font-subheading--family: 'Fresh Mango', serif !important;
    --font-subheading--style: normal !important;
    --font-subheading--weight: 400 !important;
}

.relative {
    position: relative;
}

.align-self-end {
    align-self: flex-end;
}

.header__column--right .header-menu {
    margin-right: var(--gap-xl);
}

.header-actions__cart-icon svg {
    height: 1.8rem !important;
    width: auto !important;
}

.button {
    font-weight: bold;
    font-size: var(--font-size--xl);
    --button-padding-block: 10px;
}

a.link {
    position: relative;
    font-weight: 500;
    color: var(--color-primary-button-background);
}

a.link:after {
    content: "";
    width: 100%;
    height: .08rem;
    background: var(--color-primary-button-background);
    display: block;
    position: absolute;
    bottom: -.2rem;
}

a.link:hover:after {
    background: var(--color-primary-hover);
}

.accordion .details__header {
    padding-block: var(--padding-lg);
    color: var(--color-foreground-heading);
}

summary .svg-wrapper {
    height: var(--icon-size-md);
    width: var(--icon-size-md);
}

.align-between, .align-between > .group-block-content {
    justify-content: space-between;
}

/* 
.email-signup__button--text {
    padding-inline: var(--padding-6xl) !important;
}

.email-signup__input, .email-signup__button--text  {
    padding-block: var(--padding-xs) !important;
}

.email-signup__input {
    font-size: var(--font-size--md) !important;
    font-weight: bold !important;
} */

.vector-section {
    position: absolute;
    z-index: -1;
}

.built-left {
    left: 0 !important;
    bottom: 0;
}

.built-right {
    right: 0;
    top: -20rem;
}

.feat-left {
    left: 0 !important;
    bottom: 0; 
}

.feat-right {
    right: 0;
    top: 0;
}

.slideshow-controls__thumbnails .slideshow-control, .slideshow-controls__thumbnails .slideshow-control img {
    border-radius: calc(var(--media-radius) / 2);
}

.mega-menu__content-list-item .resource-card__title, .menu-drawer__featured-content-list-item .resource-card__title {
    font-family: var(--font-h5--family);
    font-style: var(--font-h5--style);
    font-weight: var(--font-h5--weight);
    font-size: var(--font-h5--size);
    line-height: var(--font-h5--line-height);
    letter-spacing: var(--font-h5--letter-spacing);
    text-transform: var(--font-h5--case);
    color: var(--color-foreground-heading);
}

.menu-drawer__featured-content-list-item .resource-card__title {
    font-size: var(--font-size--xs) !important;
}

.menu-drawer__menu-item {
    color: var(--color-primary) !important;
}

.menu-drawer__menu-item--mainlist {
    font-size: var(--font-size--xl) !important;
}

.menu-drawer__menu .menu-drawer__list-item--flat {
    margin-block-end: 0 !important;
}

.mega-menu__link {
    line-height: 1.3em !important;
}

.shopify-policy__container h1,
.shopify-policy__container h2,
.shopify-policy__container h3,
.shopify-policy__container h4 {
    color: var(--color-foreground-heading);
}

[data-native-pre-order-btn] {
    display: none !important;
}

[data-native-pre-order-btn-added] {
    display: grid !important;
}

product-custom-property-component:has([type="hidden"]) {
    display: none;
}

.cart-items__nested-line .cart-items__quantity {
    display: none !important;
}

.cart-items__nested-line a {
    pointer-events: none !important;
}

.product-information__grid--limit-details .product-details>.group-block {
    max-width: 30rem !important;
}

@media (max-width: 1600px) and (min-width: 750px) {
    :root {
        --narrow-page-width: 75rem !important;
    }
}

@media screen and (min-width: 750px) {
    .facets--horizontal .facets__summary, .facets--horizontal .products-count-wrapper, .sorting-filter__label {
        font-size: var(--font-size--sm) !important;
    }
    .cart__container--extend .cart__summary-inner {
        --sidebar-width: 30rem !important;
    }
}

@media (min-width: 750px) {
    .button.size-style {
        font-size: var(--font-size--2xl) !important;
    }
    .email-signup__button {
        min-width: 14rem;
    }
    .product-information__grid:not(:has(.product-information__media:empty)).product-information--media-left .product-information__media {
        padding-right: 0 !important;
    }
}

@media (max-width: 749px) {
    .header__columns {
        padding-block: var(--padding-xs) !important;
    }

    :is(.carousel--mobile-full-width) > .resource-list__carousel {
        grid-column: 1 / -1;
    }

    .carousel--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100cqw;"] slideshow-slides {
        padding-inline: 0 !important;
        scroll-padding-inline-start: 0;
    }

    .mobile-group-column-reverse > .group-block-content {
        flex-direction: column-reverse !important;
    }

    .mobile-section-column-reverse {
        flex-direction: column-reverse !important;
    }

    .spacing-style[style*="--mobile-padding-block-start"] {
        padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
    }

    .spacing-style[style*="--mobile-padding-inline-start"] {
        padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    [style*="--mobile-font-size"],
    [style*="--mobile-font-size"] > * {
        font-size: var(--mobile-font-size) !important;
    }

    [style*="--mobile-border-radius"] {
        border-radius: var(--mobile-border-radius) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment"] {
        align-items: var(--horizontal-mobile-alignment) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment: flex-start"] {
        > .text-block {
            text-align: left;
        }
    }

    .mobile-column[style*="--horizontal-mobile-alignment: center"] {
        > .text-block, .text-block > * {
            text-align: center;
        }
    }

    [style*="--mobile-gap"] {
        gap: var(--mobile-gap) !important;
    }

    [style*="--mobile-ratio"] > img,  [style*="--mobile-ratio"] > video {
       aspect-ratio: var(--mobile-ratio) !important;
    }
}